.main {
	min-height: 100vh;
	width: 100%;
	overflow-y: scroll;
}

.loginFormContainer {
	width: 315px;
	padding: 2px;
	margin: auto;
	margin-top: 190px;
	margin-bottom: 100px;
	background: linear-gradient(180deg, #f4ac29, #da2515 51%, #1a1921);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginForm {
	border-radius: 20px;
	background-color: #1a1921;
	padding: 20px;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	display: flex;
	flex-direction: column;
}

.input {
	margin-top: 30px;
	padding: 15px;
	border-radius: 20px;
	height: 55px;
	font-size: 25px;
}

.input:focus {
	outline: none;
}

.button {
	text-align: center;
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 20px;
	background-image: linear-gradient(#fea227, #fecd0a);
	border: 2px solid #fbd82c;
	border-radius: 15px;
	width: 100%;
	text-decoration: none;
	box-shadow: 0 0 50px #eeaf0e4d;
	font-size: 38px;
	font-weight: bold;
	padding: 15px;
	cursor: pointer;
}

.button:hover {
	box-shadow: 0 0 50px 20px #eeaf0e4d;
}