.main {
	width: 315px;
	height: 560px;
	position: relative;
	border-radius: 20px;
	background: linear-gradient(180deg, #f4ac29, #da2515);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.main:hover {
	box-shadow: 0 0 50px #eeae0ee8;
}

.content {
	position: relative;
	border-radius: 20px;
	background-color: black;
	padding: 20px;
	height: calc(100% - 5px);
	width: calc(100% - 5px);
}

.categoryTagContainer {
	width: 100%;
	height: 40px;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.categoryTag {
	color: white;
	border: 2px solid #f4ac29;
	border-radius: 20px;
	width: fit-content;
	padding: 5px 20px 5px 20px;
	font-size: 14px;
}

.imageContainer {
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding: 10px;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.casinoNameContainer {
	width: 100%;
	height: 50px;
	overflow: hidden;
	margin-bottom: 15px;
}

.casinoName {
	color: white;
	font-size: 38px;
}

.descriptionTitleContainer {
	width: 100%;
	height: 40px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.descriptionTitle {
	color: white;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 17px;
	font-style: italic;
	font-weight: 600;
}

.descriptionContainer {
	margin-top: 15px;
	margin-bottom: 20px;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.description {
	color: white;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
}

.claimButton {
	text-align: center;
	display: inline-block;
	background-image: linear-gradient(#fea227, #fecd0a);
	border: 2px solid #fbd82c;
	border-radius: 15px;
	width: 100%;
	text-decoration: none;
	box-shadow: 0 0 50px #eeae0e96;
	font-size: 38px;
	font-weight: bold;
	padding: 15px;
	cursor: pointer;
}

.claimButton:hover {
	box-shadow: 0 0 50px #eeae0ee8;
}